In [47]:
a = 1
b = 2
c = 3
d = a
e = d + b
f = "Mrs. Anukul"

array_from_mysql = "11.1"
g = 2
total = float(array_from_mysql) - g
print(a)

a += 5
print(a)

print(total)

1
6
9.1

In [ ]:
def add(a, b):
    c = a + b
    return c

def sub(a , b):
    c = a - b
    return c

def mul(a , b):
    c = a * b
    return c

def div(a , b):
    c = a / b
    return c

a = int(input("Input A : "))
b = int(input("Input B : "))

c = mul(sub(a, b), add(a, b))
print(c)

-15